/* Table of Content
==================================================
    #Site Styles
    #Page Styles
    #Media Queries */

@import "rules"
@import "base"
@import "skeleton"

/* #Site Styles
================================================== */

// Sticky footer, http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/
html, body
  height 100%

#content
  height 55%

body > #content
  height auto
  min-height 55%

#main-footer
  position relative
  z-index 10
  height 9em
  margin-top -9em

#content
  padding-bottom 9em
// End sticky footer

body.progress
  cursor progress

#main-header, #content, #main-footer
  container()

#main-header
  padding-top 1.5em
  margin-bottom 1.5em
  h1
    margin-bottom 0
  h2
    font-size 1.33em
    color #777
    font-style italic
  hgroup, nav
    text-align center
  nav li
    display inline-block
    margin-right .5em
    body.rtl &
      margin-right 0
      margin-left .5em

#main-footer
  margin-bottom 1.5em

header a
  text-decoration none
  &:hover
    text-decoration underline

nav li
  a
    text-decoration none
    &:hover
      text-decoration underline
  &.current
    a
      color turquoise

#posts, #content > article.post
  columns(12)
  body.rtl &
    float left

#posts article.post
  margin-bottom 4.5em
  h1
    font-size 2.67em
    line-height 1.125em
    margin-bottom 1.125em

article.post
  time
    color #aaa
    font-family serif_font
    font-style italic
    float right
    body.rtl &
      float left

aside.nav
  columns(4)
  text-align right
  body.rtl &
    float right
    text-align left

.author
  columns(one-third)
  h5
    margin-bottom 1.2em
  h6
    font-family sans_serif_font
    font-weight bold

img.inline
  float left
  margin-right 0.5em
  margin-bottom 0.5em
  body.rtl &
    float right
    margin-right 0
    margin-left 0.5em

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
