// Fonts
font_size = unquote("1em/1.5")

sans_serif_font ?= HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
serif_font ?= Georgia, "Times New Roman", Times, serif
header_font ?= serif_font

// Colors
yellow     ?= #b59f06
blue       ?= #326293
green      ?= #3c8207
purple     ?= #75507b
red        ?= #cc0000
turqoise   ?= #0f948a
